body {
    background-color: lightgray;
    padding-top: 0;
}

h1 {
    color: red;
}

.carousel-item {
    background-color: black;
}

.carousel-item img{
    height: auto! important;
    opacity: 0.3;
}